## Mystery Data

This is a repeat of the mystery data problem, using Python and Pandas to output the "answer" via a simple group by, count, sort

In [1]:
import pandas as pd

In [2]:
file_path = r"/Users/arnie/Data/prob1.txt"

In [8]:
df = pd.read_csv(file_path, names=['c1','c2','c3','c4','c5','c6'])

In [9]:
df.head()

   c1    c2         c3        c4      c5              c6
0   0  8.53    tintype  0.460945  260784  countermeasure
1   1  5.52        For  0.822112  310733       malleable
2   2  1.33        You  0.627088  434806      dinnerware
3   3  9.97    percept  0.105301  776341          schema
4   4  3.44  Allentown  0.232980  442039          Elisha

In [29]:
df[['c3']].groupby('c3').size().sort_values(ascending=False).head(8)

c3
The               80000
Answer            70000
You               60000
Are                5000
Looking            4000
For                3000
Is                 2000
WearYourMask!!     1000
dtype: int64